<html>
	<head>
		<title>Fold&amp;Cut Magic</title>
		<script type="text/javascript" src="static/jquery.js"></script>
	</head>
	<body>
		<h1>Fold &amp; Cut Magic</h1>
		<canvas id="canvasY" width="505" height="505"></canvas>
			<input id="SentButton" type="button" disabled="1" value="Create crease pattern"/>
	        <p><a href="#" class="loadExample" num="0">Load example 1</a>
	        <p><a href="#" class="loadExample" num="1">Load example 2</a>


		<script type="text/javascript" src="static/neco.js"></script>

	</body>
</html>